<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>window</title>
  </head>
  <body>
    <div
      style="width: 600px; height: 856px; margin: 0 auto; background: #f6fffe"
    >
      <div
        style="
          background-image: url(&quot;https://yourdomain.com/path/to/img/168.png&quot;);
          width: 556px;
          height: 323px;
          border-radius: 10px;
          margin-top: 19px;
          margin-left: 22px;
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
          background: #fff;
        "
      >
        <img
          src="https://yourdomain.com/path/to/img/168.png"
          style="
            width: 512px;
            height: 316px;
            padding-left: 26px;
            padding-bottom: 7px;
          "
          alt=""
        />
      </div>
      <div
        style="
          border-radius: 10px;
          width: 556px;
          height: 276px;
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
          background: #fff;
          margin-top: 19px;
          margin-left: 22px;
        "
      >
        <p
          style="
            padding-top: 40px;
            font-weight: 400;
            font-size: 24px;
            text-align: center;
            color: #000;
          "
        >
          Вы зарегистрировались на сайте Sdmedik. <br />
          Ваш код для подтверждения регистрации:
        </p>
        <button
          style="
            border: white;
            border-radius: 10px;
            width: 275px;
            height: 80px;
            background: #00b3a4;
            margin-top: 30px;
            margin-left: 141px;
            align-items: center;
            font-size: 32px;
            color: white;
          "
        >
          1FA34S
        </button>
        <span style="display: none; margin-left: 10px; color: green"
          >Copied</span
        >
      </div>
      <div>
        <p
          style="
            margin-top: 30px;
            font-weight: 400;
            font-size: 24px;
            text-align: center;
            color: #858585;
          "
        >
          Код действует в течение 5 минут
        </p>
        <p
          style="
            margin-top: 40px;
            font-weight: 600;
            font-size: 24px;
            text-align: center;
            color: #000;
          "
        >
          Спасибо за регистрацию, <br />
          команда Sdmedik
        </p>
      </div>
    </div>
  </body>
</html>
